# Copy this file to `.env` and replace the placeholder with your real connection string.
# Connection string for PostgreSQL.
# Requires PostgreSQL >= 15.

DATABASE_URL="postgres://05d281b864f793f8a5387dea8960765a77e35448d8de8e887acbcf6a7ceaa729:sk_7uFLbyW2Dp5grKWjZL4fM@db.prisma.io:5432/postgres?sslmode=require"
